<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event id="200" name="Take off worn cloak" type="EVENT_TRIGGERED">
        <conditions>
            <condition type="checkCarrying" itemId="3"/>
        </conditions>
        <onSuccess>
            <consequence type="message">You remove the cloak.</consequence>
            <consequence type="removeItemsFromInventory" itemId="3"/>
            <consequence type="addItemsToInventory" itemId="2"/>
        </onSuccess>
        <onFailed>
            <consequence type="message">You're not wearing the cloak.</consequence>
        </onFailed>
    </event>
    
    <event id="201" name="Wear cloak" type="EVENT_TRIGGERED">
        <conditions>
            <condition type="checkCarrying" itemId="3" invert="true"/>
            <condition type="checkCarrying" itemId="2"/>
        </conditions>
        <onSuccess>
            <consequence type="removeItemsFromInventory" itemId="2"/>
            <consequence type="addItemsToInventory" itemId="3"/>
        </onSuccess>
        <onFailed>
            <consequence type="message">You're already wearing the cloak.</consequence>
        </onFailed>
    </event>
    
    <event id="202" name="Cloak picked up" type="EVENT_TRIGGERED">
        <conditions/>
        <onSuccess>
            <consequence type="updateItemDescription" itemIds="1">
                It's just a small brass hook, screwed to the wall.
            </consequence>
            <consequence type="addRoomTags" roomId="4" tags="dark"/>
            <consequence type="removeItemsFromRoom" itemId="4" roomId="4"/>
        </onSuccess>
    </event>
    
    <event id="500000" name="Death" type="EVENT_TRIGGERED">
        <conditions/>
        <onSuccess>
            <consequence type="message">
                Darkness descends. 
            </consequence>
            <consequence type="waitForKey">Press Enter to continue.</consequence>
            <consequence type="newGame"/>
        </onSuccess>
    </event>
</events>

